<!--Display Employee List-->
<div class="mx-3 mt-4">
  <h2 class="text-center" i18n>
    Employee List (Operation 'R')
  </h2>
  <div *ngIf="showDet" class="my-3">
    <hr>
    <div *ngFor="let e of employees">
      ID: {{e.id}} <br>
      Name: {{e.name}} <br>
      Company: {{e.company}} <br>
      <hr>
    </div>
  </div>
  <button class="btn btn-primary my-3" (click)="getDets()">Show</button>
  <button class="btn btn-primary mx-3 my-3" (click)="hideDets()">Hide</button>
</div>

<!--Menu-->
<div class="my-5 text-center">
  <button class="btn btn-primary mx-3" (click)="disAdd()">Add Section</button>
  <button class="btn btn-primary mx-3" (click)="disUpdate()">Update Section</button>
  <button class="btn btn-primary mx-3" (click)="disDelete()">Delete Section</button>
</div>
<app-add-emp *ngIf="showAdd"></app-add-emp>
<app-update-emp *ngIf="showUpdate"></app-update-emp>
<app-del-emp *ngIf="showDelete"></app-del-emp>