<!--Add Employee Form-->
<form [formGroup]="addEmployee" class="mx-3 my-3">
    <h2 class="text-center" i18n>
        Add Employee (Operation 'C')
    </h2>
    <div class="form-group">
        <label for="fid">ID</label>
        <input type="text" name="fid" id="fid" formControlName="id" class="form-control">
        <div class="alert alert-danger" *ngIf="addEmployee.controls.id.touched && !addEmployee.controls.id.valid">ID
            can't
            be empty!</div>
    </div>
    <div class="form-group my-3">
        <label for="fname">Name</label>
        <input type="text" name="fname" id="fname" formControlName="name" class="form-control">
        <div class="alert alert-danger" *ngIf="addEmployee.controls.name.touched && !addEmployee.controls.name.valid">
            Name
            can't
            be empty!</div>
    </div>
    <div class="form-group my-3">
        <label for="fcompany">Company</label>
        <input type="text" name="fcompany" id="fcompany" formControlName="company" class="form-control">
        <div class="alert alert-danger"
            *ngIf="addEmployee.controls.company.touched && !addEmployee.controls.company.valid">
            Company can't
            be empty!</div>
    </div>
    <button class="btn btn-primary" [disabled]="!addEmployee.valid" (click)="addEmp()">Add Employee</button>
</form>